.custom-gradient-border {
    border: 2px solid;
    border-image-slice: 1;
    border-width: 2px;
    border-image-source: linear-gradient(90deg, #0099FF, #00BBFF, #00D5E9, #00E8B9, #96F589, #F9F871);
}

/* .border-gradient {
    border-image: linear-gradient(90deg, #0099FF, #00BBFF, #00D5E9, #00E8B9, #96F589, #F9F871) 1;
    border-image-slice: 1;
} */

