@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  /* --foreground-rgb: 0, 0, 0; */
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: #0D0D0D;
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

.group:hover {
  border-image: linear-gradient(90deg, #0099FF, #00BBFF, #00D5E9, #00E8B9, #96F589, #F9F871) 1;
  border-image-slice: 1;
}

.group:hover {
  border-style: solid;
  border-color: transparent;
}

.bg-custom-gradient {
  background: linear-gradient(101.63deg, #1000D9 35.64%, #00CCFF 50%, #00CCFF 61.03%, #0D0D0D 87.96%);
}

/* .bg-story-gradient {
  background: linear-gradient(90deg, #00E8B9 1%, #0D0D0D 15%, #0D0D0D 85%, #00E8B9 99%);
} */


.bg-story-gradient {
  background: linear-gradient(90deg, rgba(0, 232, 185, 0.2) 1%, rgba(13, 13, 13, 0.6) 10%, rgba(13, 13, 13, 0.6) 90%, rgba(0, 232, 185, 0.2) 99%);
}

.bg-footer-gradient {
  background: linear-gradient(90deg, rgba(0, 232, 185, 0.3) 1%, #0d0d0d99 10%, rgba(13, 13, 13, 0.6) 90%, rgba(0, 232, 185, 0.3) 99%);
}

.bg-presale-gradient {
  background: linear-gradient(90deg, #0099FF, #00BBFF, #00D5E9, #00E8B9, #96F589, #F9F871);
}

.grad {
  /* background: conic-gradient(#0099FF,#00BBFF,#00D5E9,#00E8B9,#96F589,#F9F871,#0099FF); */
  background: conic-gradient(from 0deg at 5%, 25%, red, green, blue);

}

/* @layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */



/* Polygon 4 

position: absolute;
width: 338px;
height: 584px;
left: 444px;
top: 0px;

background: linear-gradient(108.09deg, rgba(0, 153, 255, 0.45) 15.3%, rgba(0, 187, 255, 0.45) 27.33%, rgba(0, 213, 233, 0.45) 38.46%, rgba(0, 232, 185, 0.45) 51.1%, rgba(150, 245, 137, 0.45) 64.03%, rgba(249, 248, 113, 0.45) 75.46%);
box-shadow: 0px -24px 250px rgba(0, 232, 185, 0.25), 0px 24px 250px #00E8B9;
filter: blur(50px);
transform: rotate(90deg);


Polygon 3 */